<log4net>
  <!-- A1 is set to be a ConsoleAppender -->
  <appender name="A1" type="log4net.Appender.ConsoleAppender">

    <!-- A1 uses PatternLayout -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>

  <!-- A2 is set to be a DebugAppender -->
  <appender name="A2" type="log4net.Appender.DebugAppender">

    <!-- A1 uses PatternLayout -->
    <layout type="log4net.Layout.SimpleLayout">
      <immediateFlush value="true"/>
    </layout>
  </appender>

  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="A2" />
  </root>
</log4net>